.gitignore
__pycache__
pythia-70m-deduped
strings_with_frequency.npz
tinystories_data
vocabs/
tokenizers_jsons/
lp_tokenizer/memory_usage
new_tokenizers/
.venv/
lp_tokenizer/finewebedu_data
word_freqs*.npy
unique*.npy
tokenized_dataset/
downloaded_parquet_samples/
